.padding-16 {
    padding: 10px 16px 10px 0px;
    float: right;
}
.header-font {
    color: #0023a0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 0;
    font-size: 2.2rem;
    font-weight: 400;
}
.fa-trash-o {
    font-size: 25px;
    background: #337ab7;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
}
