<div>
	<p-growl [(value)]="msgs"></p-growl>
</div>
<form #contactsform="ngForm" autocomplete="off">
	<div class="form-horizontal main-container">
		<div class="row">
			<label class="control-label col-md-1" for="businessId" name="businessId">BID:</label>
			<div class="col-md-2">
				<input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="businessId" (ngModelChange)="BIDchanged()"
				 [(ngModel)]="user.businessId" name="businessId" #businessId="ngModel" maxlength="10" minlength="6" (focusout)="fetchBin(user.businessId)"
				 required>
				<div *ngIf="businessId.invalid && (businessId.dirty || businessId.touched)">
					<div *ngIf="businessId.errors.required || businessId.errors.minlength || businessId.errors.pattern" class="text-danger errtext">
						BID is required (min 6)
					</div>
				</div>

			</div>
			<label class="control-label col-md-2" for="cbid">BIN:</label>
			<div class="col-md-3">
				<p-autoComplete [(ngModel)]="user.icabin" [suggestions]="filteredBins" (completeMethod)="filterBins($event)" [size]="30"
				 (ngModelChange)="BINchanged()" placeholder="" [dropdown]="true" name="icabin" #icabin="ngModel" maxlength="6" minlength="6"
				 required (ngModelChange)="checkbin(user.businessId, user.icabin)">
					<ng-template let-icabin pTemplate="item">
						<div class="ui-helper-clearfix">
							<div>{{icabin}}</div>
						</div>
					</ng-template>
				</p-autoComplete>
				<div *ngIf="icabin.invalid && (icabin.dirty || icabin.touched)">
					<div *ngIf="icabin.errors.required || icabin.errors.minlength || icabin.errors.pattern" class="text-danger errtext">
						BIN is required (min 6)
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<label class="control-label col-md-1" for="cib">CIB:</label>
			<div class="col-md-2">
				<input type="text" OnlyNumber="true" maxlength="6" minlength="6" class="form-control" id="procId" name="procId" [(ngModel)]="user.procId" #procId="ngModel">
			</div>
			<button type="submit" class="btn btn-primary pull-right marginRight15" (click)="fetchContact(user.businessId, user.icabin)">Retrieve</button>
		</div>
		<div class="retrieve-data">
			<div class="accordionStyle">
				<p-accordion [multiple]="true">
					<p-accordionTab header="Member (BID) Information" [selected]="true">
						<div class="row">
							<label class="control-label col-md-4 col-md-offset-7" for="bid">Last Change Date-BID:</label>
							<span>{{bidLastUpdatedDate}}</span>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Name:</label>
							<div class="col-md-3">
								<input type="text" pattern="^[a-zA-Z_][\w-\s]*$" class="form-control" id="mbrName" (ngModelChange)="BIDchanged()" [(ngModel)]="user.mbrName"
								 #mbrName="ngModel" maxlength="150" name="mbrName" required>
								<div *ngIf="mbrName.invalid && (mbrName.dirty || mbrName.touched)">
									<div *ngIf="mbrName.errors.required" class="text-danger errtext">
										This field is required
									</div>
									<div *ngIf="mbrName.errors.pattern" class="text-danger errtext">
										Invalid
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Address:</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="mbrAddr1" (ngModelChange)="BIDchanged()" maxlength="40" name="mbrAddr1" [(ngModel)]="user.mbrAddr1"
								 #mbrAddr1="ngModel" required>
								<div *ngIf="mbrAddr1.invalid && (mbrAddr1.dirty || mbrAddr1.touched)">
									<div *ngIf="mbrAddr1.errors.required" class="text-danger errtext">
										This field is required
									</div>
									<div *ngIf="mbrAddr1.errors.pattern" class="text-danger errtext">
										Invalid
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<input type="text" class="form-control" id="mbrAddr2" (ngModelChange)="BIDchanged()" maxlength="40" name="mbrAddr2" [(ngModel)]="user.mbrAddr2">
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">City:</label>
							<div class="col-md-3">
								<input type="text" class="form-control" id="mbrCity" (ngModelChange)="BIDchanged()" maxlength="28" name="mbrCity" [(ngModel)]="user.mbrCity"
								 #mbrCity="ngModel" required>
								<div *ngIf="mbrCity.invalid && (mbrCity.dirty || mbrCity.touched)">
									<div *ngIf="mbrCity.errors.required" class="text-danger errtext">
										This field is required
									</div>
								</div>
							</div>
							<label class="control-label col-md-1" for="bid">State:</label>
							<div class="col-md-2">
								<select class="form-control fix-overlap" id="mbrState" name="mbrState" [(ngModel)]="user.mbrState" #mbrState="ngModel" (ngModelChange)="BIDchanged()"
								 required>
									<option *ngFor='let state of listOfStates' value="{{state}}">{{state}}</option>
								</select>
							</div>
							<label class="control-label col-md-1" for="bid">ZIP+4:</label>
							<div class="col-md-2">
								<input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="zip" value="{{zipcode}}" (ngModelChange)="BIDchanged()"
								 maxlength="9" [(ngModel)]="user.mbrZipCode" #mbrZipCode="ngModel" name="mbrZipCode" minlength="5" (blur)="setZip(mbrZipCode.value)"
								 required>
								<div *ngIf="mbrZipCode.invalid && mbrZipCode.touched">
									<div *ngIf="mbrZipCode.errors.required" class="text-danger errtext">
										This field is required
									</div>
									<div *ngIf="mbrZipCode.errors.pattern" class="text-danger errtext">
										Invalid Zip number
									</div>
								</div>
							</div>
						</div>
					</p-accordionTab>
					<p-accordionTab header="BIN Information" [selected]="true">
						<div class="row">
							<div class="col-md-3">
								<h4>ICS Business Owner</h4>
							</div>
							<label class="control-label col-md-4 col-md-offset-4" for="bid" maxlength="150">Last Change Date-BIN:</label>
							<span>{{binLastUpdatedDate}}</span>
						</div>

						<div class="row">
							<label class="control-label col-md-1" for="bid">Contact:</label>
							<div class="col-md-3">
								<input type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="boName" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.boName" #boName="ngModel" maxlength="150" name="boName">
								<div *ngIf="boName.invalid && (boName.dirty || boName.touched)">
									<!--<div *ngIf="boName.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="boName.errors.pattern" class="   -danger errtext">
										Invalid
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Phone:</label>
							<div class="col-md-3">
								<p-inputMask mask="(999) 999-9999" unmask="true" styleClass="form-control" [(ngModel)]="user.boPhone" name="boPhone" id="boPhone"
								 placeholder="(XXX) XXX-XXXX" required #boPhone="ngModel"></p-inputMask>
								<!-- <input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="boPhone" value="{{phonevalue}}" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.boPhone" name="boPhone" #boPhone="ngModel" (blur)="phoneno(boPhone.value)" maxlength="10" minlength="7"> -->
								<div *ngIf="boPhone.invalid && (boPhone.dirty || boPhone.touched)">
									<div *ngIf="boPhone.errors.required" class="text-danger errtext">
										This field is required
									</div>
								</div>
							</div>

							<label class="control-label col-md-1" for="bid">Fax:</label>
							<div class="col-md-2">
								<input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="bofax" value="{{bofaxvalue}}" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.boFax" name="boFax" #boFax="ngModel" (blur)="bofaxno(boFax.value)" maxlength="10" minlength="7">
								<div *ngIf="boFax.invalid && (boFax.dirty || boFax.touched)">
									<!--<div *ngIf="boFax.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="boFax.errors.minlength || boFax.errors.pattern" class="text-danger errtext">
										Invalid Fax number
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Email:</label>
							<div class="col-md-3">
								<input type="email" class="form-control" id="boEmail" (ngModelChange)="BINchanged()" [(ngModel)]="user.boEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
								 #boEmail="ngModel" maxlength="50" name="boEmail">
								<div *ngIf="boEmail.invalid && (boEmail.dirty || boEmail.touched)">
									<!--<div *ngIf="boEmail.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="boEmail.errors.pattern" class="text-danger errtext">
										Email format should be
										<small>
											<b>joe@abc.com</b>
										</small>
									</div>
								</div>
							</div>
						</div>
						<h4>ICS Technical Contact</h4>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Contact:</label>
							<div class="col-md-3">
								<input type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="tcName" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.tcName" #tcName="ngModel" maxlength="150" name="tcName">
								<div *ngIf="tcName.invalid && (tcName.dirty || tcName.touched)">
									<!--<div *ngIf="tcName.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="tcName.errors.pattern" class="text-danger errtext">
										Invalid
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Phone:</label>
							<div class="col-md-3">
								<!-- <input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="tcPhone" value="{{tcphonevalue}}" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.tcPhone" name="tcphone" #tcPhone="ngModel" (blur)="tcphoneno(tcPhone.value)" maxlength="10" minlength="7"> -->

								<p-inputMask mask="(999) 999-9999" unmask="true" styleClass="form-control" [(ngModel)]="user.tcPhone" name="tcPhone" id="tcPhone"
								 placeholder="(XXX) XXX-XXXX" required #tcPhone="ngModel"></p-inputMask>
								<div *ngIf="tcPhone.invalid && (tcPhone.dirty || tcPhone.touched)">
									<div *ngIf="tcPhone.errors.required" class="text-danger errtext">
										This field is required
									</div>
								</div>
							</div>
							<label class="control-label col-md-1" for="bid">Fax:</label>
							<div class="col-md-2">
								<input type="text" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="tcFax" value="{{tcfaxvalue}}" (ngModelChange)="BINchanged()"
								 [(ngModel)]="user.tcFax" name="tcFax" #tcFax="ngModel" (blur)="tcfaxno(tcFax.value)" maxlength="10" minlength="7">
								<div *ngIf="tcFax.invalid && (tcFax.dirty || tcFax.touched)">
									<!--<div *ngIf="tcFax.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="tcFax.errors.minlength || tcFax.errors.pattern" class="text-danger errtext">
										Invalid Fax number
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-md-1" for="bid">Email:</label>
							<div class="col-md-3">
								<input type="email" pattern="^(?=.*?[1-9])[0-9()-]+$" class="form-control" id="tcEmail" (ngModelChange)="BINchanged()" [(ngModel)]="user.tcEmail"
								 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #tcEmail="ngModel" maxlength="50" name="tcEmail">
								<div *ngIf="tcEmail.invalid && (tcEmail.dirty || tcEmail.touched)">
									<!--<div *ngIf="tcEmail.errors.required" class="text-danger errtext">
										This field is required
									</div>-->
									<div *ngIf="tcEmail.errors.pattern" class="text-danger errtext">
										Email format should be
										<small>
											<b>joe@abc.com</b>
										</small>
									</div>
								</div>
							</div>
						</div>
					</p-accordionTab>
				</p-accordion>
			</div>
			<div class="row text-right margin10">
				<button type="submit" class="btn btn-primary" [disabled]="!contactsform.form.valid" (click)="saveContact(user, contactsform)">Save</button>
				<button type="submit" class="btn btn-default" (click)="cancelContact()">Cancel</button>
			</div>
		</div>
		<p-dialog [(visible)]="display" modal="modal" width="300">
			<p class="text-center">{{binErrMsg}}</p>
			<p-footer>
				<button type="button" pButton (click)="display=false" label="Close"></button>
			</p-footer>
		</p-dialog>
		<p-dialog [(visible)]="displayNewBidBin" modal="modal" width="300">
			<p class="text-center">{{newBidBinExist}}</p>
			<p-footer>
				<button type="button" pButton (click)="createNewBin(contactsform)" label="Yes"></button>
				<button type="button" pButton (click)="clearBidBin(contactsform)" label="No"></button>
			</p-footer>
		</p-dialog>
	</div>
</form>