<div>
	<p-growl sticky="true" [(value)]="msgs"></p-growl>
</div>
<form (ngSubmit)="onSubmit(icsalertsinvalidsForm)" #icsalertsinvalidsForm="ngForm" autocomplete="off">
	<div class="form-horizontal alerts main-container">
		<div class="form-group">
			<label class="control-label col-md-1" for="bin">BIN:</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="bin" placeholder="*BIN" required [(ngModel)]="user.bin" name="bin" #bin="ngModel"
				 (focusout)="fetchMso(user.bin)" maxlength="6" minlength="6">
				<div *ngIf="bin.invalid && (bin.dirty || bin.touched)">
					<div *ngIf="bin.errors.required" class="text-danger errtext">
						BIN is required.
					</div>
					<!-- <div *ngIf="bin.errors.minlength || bin.errors.pattern" class="text-danger errtext">
						Invalid BIN
					</div> -->
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-1" for="mso">MSO:</label>
			<div class="col-md-2">
				<select class="form-control fix-overlap" id="mso" name="mso" [(ngModel)]="user.mso" #mso="ngModel">
					<option *ngFor="let mso of msos" [value]="mso">{{mso}}</option>
				</select>
			</div>

			<label class="control-label col-md-2" for="nonBankcard">Non-Bankcard:</label>
			<div class="col-md-2">
				<span>{{nonBankcard}}</span>
			</div>
			<button type="button" class="btn btn-primary pull-right marginRight15" [disabled]="bin.invalid" (click)="retrieve(1, user.bin, user.mso)">Retrieve</button>
		</div>
		<div class="retrieve-data">
			<div class="form-group accordionStyle">
				<div class="ssnAlerts col-md-5">
					<p-accordion>
						<p-accordionTab header="SSN Alerts" [selected]="true">
							<span *ngFor="let ssninvalid of ssnInvalids" class={{ssninvalid.value}}></span>
							<p-listbox [options]="SSNalerts" [(ngModel)]="ssnAlerts" multiple="multiple" checkbox="checkbox" optionLabel="name" styleClass="SSNalerts"
							 [metaKeySelection]="false" name="ssnAlerts">
							</p-listbox>
						</p-accordionTab>
					</p-accordion>
					<p>
					</p>
				</div>
				<div class="ssnAlerts col-md-5 col-md-offset-1">
					<p-accordion>
						<p-accordionTab header="SSN Invalids" [selected]="true">
							<span *ngFor="let ssn of ssnAlerts" class={{ssn.value}}></span>
							<p-listbox [options]="SSNinvalids" [(ngModel)]="ssnInvalids" multiple="multiple" checkbox="checkbox" optionLabel="name" styleClass="SSNinvalids"
							 name="ssnInvalids" [metaKeySelection]="false">
							</p-listbox>
						</p-accordionTab>
					</p-accordion>
				</div>
			</div>
			<div class="form-group accordionStyle">
				<div class="ssnAlerts col-md-5">
					<p-accordion>
						<p-accordionTab header="Address Alerts">
							<p-listbox [options]="Addressalerts" [(ngModel)]="addrAlerts" multiple="multiple" checkbox="checkbox" optionLabel="name"
							 styleClass="Addressalerts" name="addrAlerts" [metaKeySelection]="false">
							</p-listbox>
						</p-accordionTab>
					</p-accordion>
				</div>
				<div class="ssnAlerts col-md-5 col-md-offset-1">
					<p-accordion>
						<p-accordionTab header="Address Invalids">
							<p-listbox [options]="Addressinvalids" [(ngModel)]="addrInvalids" multiple="multiple" checkbox="checkbox" optionLabel="name"
							 styleClass="Addressinvalids" name="addrInvalids" [metaKeySelection]="false">
							</p-listbox>
						</p-accordionTab>
					</p-accordion>
				</div>
			</div>
			<div class="form-group accordionStyle">
				<div class="ssnAlerts col-md-5">
					<p-accordion>
						<p-accordionTab header="Phone Alerts">
							<span *ngFor="let invalid of phoneInvalids" class={{invalid.value}}></span>
							<p-listbox [options]="Phonealerts" [(ngModel)]="phoneAlerts" multiple="multiple" checkbox="checkbox" optionLabel="name" styleClass="Phonealerts"
							 name="phoneAlerts" [metaKeySelection]="false"></p-listbox>
						</p-accordionTab>
					</p-accordion>
				</div>
				<div class="ssnAlerts col-md-5 col-md-offset-1">
					<p-accordion>
						<p-accordionTab header="Phone Invalids">
							<span *ngFor="let phone of phoneAlerts" class={{phone.value}}></span>
							<p-listbox [options]="Phoneinvalids" [(ngModel)]="phoneInvalids" multiple="multiple" checkbox="checkbox" optionLabel="name"
							 styleClass="Phoneinvalids" name="phoneInvalids" [metaKeySelection]="false"></p-listbox>
						</p-accordionTab>
					</p-accordion>
				</div>
			</div>
			<div class="form-group text-right margin10">
				<button type="submit" class="btn btn-primary" [disabled]="!icsalertsinvalidsForm.form.valid">Save</button>
				<button type="button" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</div>
</form>
<p-dialog [(visible)]="display" modal="modal" width="300">
	<p class="text-center">{{binErrMsg}}</p>
	<p class="text-center">{{binRelatedMsg}}</p>
	<p-footer>
		<button type="button" pButton (click)="display=false" label="Close"></button>
	</p-footer>
</p-dialog>