@import "../../../styles.scss"; 
.form-horizontal {
     h3 {
        color: $primary-color;
        }
    .passwordcontainer {
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 470px;
        .btn{
            margin-top: 7px;
        }          
    }
}
