<div class="form-horizontal inner-rightContainer">
  <div class="form-wrapper">
	<h3>Change Password</h3>
	<div class="passwordcontainer">
			<div class="row">
				<label class="control-label" for="">User:</label>
				<input type="text" class="form-control" id="" placeholder="Username">
			</div>
			<div class="row">
				<label class="control-label" for="">Old Password:</label>
				<input type="password" class="form-control" id="" placeholder="Password">
			</div>
			<div class="row">
				<label class="control-label" for="">New Password:</label>
				<input type="password" class="form-control" id="" placeholder="Password">
			</div>
			<div class="row">
				<label class="control-label" for="">Confirm New Password:</label>
				<input type="password" class="form-control" id="" placeholder="Password">
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary btn-submit" (click)="login()">Submit</button>
				<p-growl [(value)]="msgs" styleClass="msggrowl"></p-growl>
			</div>
		</div>
</div>
</div>