<div class="inner-rightContainer main-container">
	<div class="row association">
    <h1 class="text-center">Association</h1>
		<div class="card text-center pull-left">
			<label class="option">EXPERIAN</label>
      <label class="bottom">View <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </label>
		</div>
		<div class="card text-center pull-left">
			<label class="option">VISA</label>
      <label class="bottom">View <i class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
		</div>
	</div>
</div>