<p-tabView styleClass="nav-result-container">
	<p-tabPanel header="Contacts">
      <h3>ICS Contacts</h3>
		<app-view-contacts></app-view-contacts>
	</p-tabPanel>
	<p-tabPanel header="Options">
      <h3>ICS Options</h3>
		<app-view-options></app-view-options>
	</p-tabPanel>
	<p-tabPanel header="Threshold">
      <h3>ICS Threshold</h3>
		<app-view-threshold></app-view-threshold>
	</p-tabPanel>
	<p-tabPanel header="Retro Threshold">
    <h3>ICS Retro Threshold</h3>
		<app-view-retro-threshold></app-view-retro-threshold>
	</p-tabPanel>
  <p-tabPanel header="Alert/Invalid">
    <h3>ICS Alert/Invalid</h3>
		<app-view-alerts-invalids></app-view-alerts-invalids>
	</p-tabPanel>
	<p-tabPanel header="Connection">
    <h3>ICS Connection</h3>
		<app-view-connection></app-view-connection>
	</p-tabPanel>
</p-tabView>
